<main>
  <form [formGroup]="encryptForm" (submit)="encryptMessage()">
    <label for="messageToEncrypt">Message to Encrypt:</label>
    <input id="messageToEncrypt" type="text" formControlName="messageToEncrypt">
    <button type="submit" class="primary">Encrypt 😞🤙</button>
  </form>
  <div>
    <p>Encrypted Message: {{ encryptResponse }}</p>
  </div>
  <form [formGroup]="signForm" (submit)="signMessage()">
    <label for="signMessage">Message to Sign:</label>
    <input id="signMessage" type="text" formControlName="signMessage">
    <button type="submit" class="primary">Sign 🫥</button>
  </form>
  <div>
    <p>Status Sign: {{ signStatus }}</p>
  </div>
</main>
